<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ selectedPlace?.title }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <form (ngSubmit)="onBookPlace()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-input
              label="First Name"
              labelPlacement="floating"
              type="text"
              name="firstName"
              ngModel
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-input
              label="Last Name"
              labelPlacement="floating"
              type="text"
              name="lastName"
              ngModel
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-select label="Number of Guests" label-placement="floating" [ngModel]="'2'"
            name="guestNumber">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label>From</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3">
          <ion-item>
            <ion-datetime
              name="dateFrom"
              display-format="MMM DD YYYY"
              picker-format="YY MMM DD"
              [min]="selectedPlace?.availableFrom?.toISOString()"
              [max]="selectedPlace?.availableTo?.toISOString()"
              #startDateCtrl
              presentation="date"
              [preferWheel]="true"
              [ngModel]="startDate"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label>To</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3">
          <ion-item>
            <ion-datetime
              name="dateTo"
              display-format="MMM DD YYYY"
              picker-format="YY MMM DD"
              [min]="startDateCtrl.value"
              [max]="selectedPlace?.availableTo?.toISOString()"
              presentation="date"
              [preferWheel]="true"
              [ngModel]="endDate"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-button 
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid || !datesValid()"
            >
            Book!
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
</ion-content>
